:root{
    --yellow: #fdeb01;
    --gold: #fac304;
    --orange: #f66802;
    --red: #be0201;
    --purple: #980b36;
    --violet: #2a2370;
    --blue: #3d57ac;
    --sky: #5394be;
    --seagreen: #65a781;
    --lime: #b8c601;
}

.flex {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.grid {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(31, 16px);
  grid-template-rows: repeat(30, 16px);
}

div:nth-child(1) {
  background-color: var(--yellow);
  grid-column: 3/4;
  grid-row: 4/29;
}

div:nth-child(2) {
  background-color: var(--gold);
  grid-column: 4/5;
  grid-row: 5/28;
}

div:nth-child(3) {
  background-color: var(--orange);
  grid-column: 5/6;
  grid-row: 6/27;
}

div:nth-child(4) {
  background-color: var(--red);
  grid-column: 6/7;
  grid-row: 7/26;
}


div:nth-child(5) {
  background-color: var(--purple);
  grid-column: 7/8;
  grid-row: 8/25;
}

div:nth-child(6) {
  background-color: var(--violet);
  grid-column: 8/9;
  grid-row: 9/24;
}

div:nth-child(7) {
  background-color: var(--blue);
  grid-column: 9/10;
  grid-row: 10/23;
}

div:nth-child(8) {
  background-color: var(--sky);
  grid-column: 10/11;
  grid-row: 11/22;
}

div:nth-child(9) {
  background-color: var(--seagreen);
  grid-column: 11/12;
  grid-row: 12/21;
}

div:nth-child(10) {
  background-color: var(--lime);
  grid-column: 12/13;
  grid-row: 13/20;
}

div:nth-child(11) {
  background-color: var(--yellow);
  grid-column: 13/14;
  grid-row: 13/19;
} 

div:nth-child(12) {
  background-color: var(--yellow);
  grid-column: 13/21;
  grid-row: 13;
}

div:nth-child(13) {
  background-color: var(--gold);
  grid-column: 12/21;
  grid-row: 12;
}

div:nth-child(14) {
  background-color: var(--orange);
  grid-column: 11/22;
  grid-row: 11;
}

div:nth-child(15) {
  background-color: var(--red);
  grid-column: 10/23;
  grid-row: 10;
}

div:nth-child(16) {
  background-color: var(--purple);
  grid-column: 9/24;
  grid-row: 9;
}

div:nth-child(17) {
  background-color: var(--violet);
  grid-column: 8/24;
  grid-row: 8;
}

div:nth-child(18) {
  background-color: var(--blue);
  grid-column: 7/24;
  grid-row: 7;
}

div:nth-child(19) {
  background-color: var(--sky);
  grid-column: 6/23;
  grid-row: 6;
}

div:nth-child(20) {
  background-color: var(--seagreen);
  grid-column: 5/22;
  grid-row: 5;
}

div:nth-child(21) {
  background-color: var(--lime);
  grid-column: 4/21;
  grid-row: 4;
}

div:nth-child(22) {
  background-color: var(--yellow);
  grid-column: 3/20;
  grid-row: 3;
}

div:nth-child(23) {
  background-color: var(--yellow);
  grid-column: 19;
  grid-row: 13/29;
}

div:nth-child(24) {
  background-color: var(--lime);
  grid-column: 20;
  grid-row: 12/27;
}

div:nth-child(25) {
  background-color: var(--seagreen);
  grid-column: 21;
  grid-row: 11/25;
}

div:nth-child(26) {
  background-color: var(--sky);
  grid-column: 22;
  grid-row: 10/23;
}

div:nth-child(27) {
  background-color: var(--blue);
  grid-column: 23;
  grid-row: 9/21;
}

div:nth-child(28) {
  background-color: var(--violet);
  grid-column: 24;
  grid-row: 8/19;
}

div:nth-child(29) {
  background-color: var(--purple);
  grid-column: 25;
  grid-row: 7/21;
}

div:nth-child(30) {
  background-color: var(--red);
  grid-column: 26;
  grid-row: 6/23;
}

div:nth-child(31) {
  background-color: var(--orange);
  grid-column: 27;
  grid-row: 5/25;
}

div:nth-child(32) {
  background-color: var(--gold);
  grid-column: 28;
  grid-row: 4/27;
}

div:nth-child(33) {
  background-color: var(--yellow);
  grid-column: 29;
  grid-row: 3/29;
}

@media screen and (max-width: 414px) {
  .grid {
    grid-template-columns: repeat(31, 12px);
    grid-template-rows: repeat(30, 12px);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(31, 20px);
    grid-template-rows: repeat(30, 20px);
  }
}


@media screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(31, 24px);
    grid-template-rows: repeat(30, 24px);
  }
}